
.main {
}
#about-content {
	
}

.container {
	justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 25%;
    margin-right: 15%;
    max-width: 100%;
    height: auto;
    display: inline-block;
     
}
h1 {}
h1,
h2{
	/*font-family: "Lato";*/
    font-family: 'Raleway', sans-serif;

	font-weight: 100;
	color: #00aeef;
	text-transform: lowercase;
	text-align: left;

}
h3,
h4,
h5,
h6,
p {
	line-height: 30px;
	font-family: 'Raleway', sans-serif;

	font-weight: 100;
	color: #ecf0f1;
	text-transform: lowercase;
	text-align: left;
	letter-spacing: .05em
}

p {
	font-size: 15px;
}
a{
	font-weight: 100;
	
}

a:link {

    border-bottom-width:0.5px;
    text-decoration: none;
    border-bottom-color:#00aeef;
    border-bottom-style:solid;
    padding-bottom: 6px;
    color: #00aeef;
}
a:visited {
    border-bottom-width:0.5px;
    text-decoration: none;
    border-bottom-color:#00aeef;
    border-bottom-style:solid;
    padding-bottom: 6px;
    color: #00aeef;
}

a:hover,
a:focus,
a:active,
a.active {
    transition-duration: 300ms;
    filter: brightness(60%);
}
.row {
	padding: 1vh 0;
}


.title {
	padding: 5vh 0;
}

.title h1 {
    font-family: 'Raleway', sans-serif;
	font-weight: 100;
}


