
.main {
}
#about-content {
	
}

.container {
	justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 25%;
    margin-right: 15%;
    max-width: 100%;
    height: auto;
    display: inline-block;
     
}
h1,
h2{
	font-family: "Lato";
	font-weight: 100;
	color: #00aeef;
	text-transform: lowercase;
	text-align: left;
}
h3,
h4,
h5,
h6,
p {
	font-family: "Lato";
	font-weight: 100;
	color: #ecf0f1;
	text-transform: lowercase;
	text-align: left;
	letter-spacing: .05em;
}

p {
	font-size: 16px;
}

a {
	color: #fff;
	font-weight: 300;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    color: #fff;
    font-style: underline;
}

.row {
	padding: 1vh 0;
}


.title {
	padding: 5vh 0;
}

.title h1 {
	font-family: "Montserrat";
	font-weight: 400;
}


