body {
    overflow-x: hidden;
    font-family: "Lato";
    font-weight: 300;
}



a {
    color: #000;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

header {
    position: relative;
    margin-left: 300px;
    background-attachment: scroll;
    height: 100%;
    padding-top: 75px;
}

header .intro-text .intro-heading {
    margin-bottom: 25px;
    padding-top: 80px;
    text-transform: lowercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 50px;
    color: white;
    z-index: 1;
}

header .text {
    padding-top: 10px;
    font-style: normal;
    /*font-size: 20px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 40;*/


    font-family: "Lato";
    font-weight: 300;
    font-size: 20px;

    letter-spacing: .05em;
    line-height: 1.65em;
    text-transform: lowercase;
    color: #fff;

}
i.fa {
    display: inline-block;
    border-radius: 50px;
    border-color: #222;
    margin-right: 10px;
    color: white;
    opacity: 1
}
i.fa:hover {
  opacity: 0.75;
}

.circle-icon {
    background: #222;
    padding:0px;
    text-align: center; 
    border-radius: 50px;
    width: 50px;
    height: 50px;
    line-height: 50px;
}

header red {
    color: blue;
}

header .intro-text .intro-buttons {
    margin-top: 50px;
    border-radius: 50px;
    opacity: 1;
}

header .intro-text .intro-buttons .intro-button {
    margin: 10px 10px 10px 10px;
    opacity: 1;
}
header .intro-text .intro-buttons .intro-button:hover {
    opacity: 0.5;
}

