body {
    overflow-x: hidden;
    font-family: "Lato";
    font-weight: 300;
    color: #211E16;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a {
    color: #000;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.container {
    width: auto;
}

.img-centered {
    margin: 0 auto;
}

header {
    text-align: center;
    color: #211e16;
    background-attachment: scroll;
    background-image: url(../img/header/header2.jpg);
    height: 100%;
    background-position: center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    opacity: .8;

}

header .intro-text {
    padding-top: 75px;
}

header .intro-text .intro-heading {
    margin-bottom: 25px;
    padding-top: 140px;
    text-transform: lowercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 70px;
    font-weight: 700;
    line-height: 50px;
    color: #222;
    z-index: 1;
}

header .intro-text .intro-buttons {
    color: #000000;
    margin-top: 100px;
    width: 80%;
    margin-left:10%;
    border-radius: 50px;
    opacity: 1;
}

header .intro-text .intro-buttons .index-button {
    margin: 10px 10px 10px 10px;
    opacity: .90;
}
header .intro-text .intro-buttons .index-button:hover {
    opacity: 1;
}

/*header .intro-text .intro-summary {
    font-family: "Lato";
    font-size: 1.5em;
    font-weight: 100;
}
header .intro-text .intro-button-bar {
    margin-top: 50px;
    width: 80%;
    margin-left:10%;
    border-radius: 50px;
    opacity: 1;
}
header .intro-text .intro-button-bar .header-button {
    margin: 10px 10px 10px 10px;
    opacity: .8;
}
header .intro-text .intro-button-bar .header-button:hover {
    opacity: 1;*/ß