.main{
    color: #302C2C;
}

/*.container{
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 200px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    position: sticky;
    max-width: 100%;
    height: auto;
    display: inline-block;  
    scroll-behavior: [ auto | smooth ];  
}
*/
.container{
    margin: 10px auto 0px;
    margin-top: 10vh;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    width: 560px;
    text-align: left;
    position: relative;
    top: 5%;
    padding-left: 30px;
    padding-right: 30px;
}


.typed-cursor{
/*    font-family: "AkrobatBold", Arial, sans-serif;
*/    font-size: 30px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #302C2C;
    position: relative;
}

/*.intro-heading {
    font-family: "AkrobatBold", Arial, sans-serif;
    font-size: 30px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #302C2C;
    position: relative;
    
}
.intro-text{
    margin-bottom: 15px;    
    text-transform: lowercase;
    font-weight: 700;
    line-height: 60px;
    z-index: 1;
}
*/
.text{
    font-family: 'Roboto', sans-serif;
    line-height: 36px;
    color: #302C2C;
    font-weight: 200;
    line-height: 40px;
    z-index: 1;
   
}
h1{
    font-weight:900;
    padding-top: 20px;
    line-height: 60px;
    z-index: 1;
    color: #ED6C5C;
}

    
p {

    font-weight: 200;
 
}


a.fa:link {
    border-bottom-color:pink;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}


a.description:link {
    border-bottom-width:0.5px;
    text-decoration: none;
    border-bottom-color:#ED6C5C;
    border-bottom-style:solid;
    padding-bottom: 6px;
    color: #ED6C5C;
    
}
a.description:visited {
    border-bottom-width:0.5px;
    text-decoration: none;
    border-bottom-color:#ED6C5C;
    border-bottom-style:solid;
    padding-bottom: 6px;
    color: #ED6C5C;
}

.description:hover,
.description:focus,
.description:active,
.description.active {
    transition-duration: 300ms;
    filter: brightness(65%);
}

#typed{
/*    font-family: "AkrobatBold", Arial, sans-serif;
*/    font-size: 30px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #302C2C;
    position: relative;
    
}

/* media */

@media screen and (max-width: 700px) {
  .anchor {
    display: none;
  }
}