
#logo {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}
.col-xs-2 {
  width: 16.333333333%
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
}

.col-xs-8 {
  width: 66.66666667%;
    position: relative;
    min-height: 1px;
    padding-top: 20px;
    padding-right: 15px;
    padding-left: 150px;
    float: left;
}

.content {
  background-color: #FFFFFF;
  padding-left: 1.45em;
  font-family: "Lato";
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: "Lato";
    text-align: left;
}

h1 {
  font-size: 20pt;
  font-weight: 400;
  padding: 1rem

}

#education-h1 {
  background-color: #FDF5E6;
  width: 8rem;
}
#leadership-h1{
  background-color: #FDF5E6;
  width: 9rem;
}

#activities-h1{
  background-color: #FDF5E6;
  width: 7rem;
}

#awards-h1{
  background-color: #FDF5E6;
  width: 20rem;
}

#skills-h1{
  background-color: #FDF5E6;
  width: 14rem;
}

.title {
    display: inline;
    font-size: 60pt;
    font-weight: 400;
    color: black;
}


p {
  font-size: 13pt;
  font-weight: 400;

  text-align: justify;
}

sub {
  font-size: 11pt;
  font-weight: 300;
  
  text-align: justify;
}

dated {
  font-size: 11pt;
  text-align: left;
}

a, a:hover {
  color: black;
}

.center {
  text-align: center;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/*li {
    float: left;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
    color: white
}
*/