body {
	background: #FDF5E6	; 
}

.content {
	overflow-y: scroll;
	height: 100vh;
	padding: 0;
}

.sidebar{
	vertical-align: top;
	height: 100vh;
	color: #666;
}

.col-xs-12{
	width: 100%;

}
.col-sm-2 {
	width: 16.6666667%;
	float: left;
}

.col-sm-10 {
	width: 83.33333333%;
	float: left;
}

.sidebar-section {
    text-align: center;
    padding: 2vh 0;
    font-family: Lato;
    font-weight: 100;
    font-size: 1.5vw;
    color: #211e16;
}

.sidebar h1 {
	line-height: 50px;
	display: inline-block;
	color: #333;
	text-align: center;
	letter-spacing: 4px;
	font-size: 4em;
	margin: 0;
	padding-top: 100px;
	padding-bottom: 125px;
}
.sidebar a {
	color: #211e16;
	font-family: Lato;
	font-weight: 100;
	font-size: 1.5vw;
}


a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.v-wrap{
    white-space: nowrap;
    text-align: center;
}


.navigation{
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
}

@media (max-width: 768px) {
	.sidebar {
		height: 10vh;
		vertical-align: middle;
	}

	.content {
		height: 90vh;
	}

	.sidebar-section {
		display: inline;
		text-align: center;
		padding: 1vh 1.5vw;
		font-family: Lato;
		font-weight: 100;
		font-size: 14px;
		color: #211e16;
	}
	
	.sidebar a {
		font-size: 14px;
	}
}
