
.main {
}

.container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
    margin-right: 15%;
    max-width: 100%;
    height: auto;
    display: inline-block;
     
}
h1 {
    font-family: "AkrobatBold", Arial, sans-serif;
    font-size: 25px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #ED6C5C;
    position: relative;
}

a{
    line-height: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: #302C2C;
    text-transform: lowercase;
    text-align: left;
    letter-spacing: .05em
    font-size: 15px;
    font-weight: 100;
}

a:link {

    border-bottom-width:0.5px;
    text-decoration: none;
    border-bottom-color:#302C2C;
    border-bottom-style:solid;
    padding-bottom: 6px;
    color: #302C2C;
}
a:visited {
    border-bottom-width:0.5px;
    text-decoration: none;
    border-bottom-color:#302C2C;
    border-bottom-style:solid;
    padding-bottom: 6px;
    color: #302C2C;
}

a:hover,
a:focus,
a:active,
a.active {
    transition-duration: 300ms;
    filter: brightness(60%);
    color: #ED6C5C;
}
.row {
    padding: 1vh 0;
}


.title {
    padding: 5vh 0;
}

.title h1 {
    font-family: "AkrobatBold", Arial, sans-serif;
    font-weight: 80;
}


